/*.TasksList, .Task, .HeaderPage {
    background-color: #634450;
}*/

.Modal {
    display: block;
    width: 80%;
    height: 70%;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #fff;
    color: black;
}

.Modal__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

.Modal__headerTitle {
    font-size: 18px;
    font-weight: bold;
}

.Close {
    font-size: 18px;
}

.Modal__body {
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}

.Modal__bodyTitle1 {
    font-size: 14px;
    font-weight: bold;
}

.Modal__bodyTitle2 {
    font-size: 14px;
    font-weight: bold;
}

.Modal__bodyTitle3 {
    font-size: 14px;
    font-weight: bold;
}

.Message {
    resize: none;
}

.Modal__footer {
    margin-left: 20px;
}

.SaveTask {
    background-color: #9f638d;
    color: #fff;
    border: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 5px 0;
}

.SaveTask:hover {
    background-color: #650212;
    cursor: pointer;
}