@import url('./components/header-page/HeaderPage.css');
@import url('./components/button/Button.css');
@import url('./components/icon-button/IconButton.css');
@import url('./components/tasks-list/TasksList.css');
@import url('./components/modal/Modal.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

button {
    border: none;
    border-radius: 0;
    background-color: transparent;
}









